<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back" style="cursor: pointer;" (click)="goBack()"></mat-icon>
<div style="display: flex;flex-direction: column;justify-content: center;align-items: center;margin-top: 24px;">
<p>Showing {{itemTitle}} details..</p>
<img src="{{itemThumb}}" alt="{{itemTitle}}" width="250" height="250"/>
@if (itemBrand) {<p>Seller: {{itemBrand}}</p>}
<p>In {{itemCategory}}</p>
<p>NGN{{itemPrice}}</p>
<p>{{itemDescription}}</p>
<p>rating: {{itemRating}}</p>
</div>
