  <div style="width: 100%;height: 320px;border-radius: 16px; background-color: rgb(252, 228, 228);">
  <img src="https://cdn.dummyjson.com/products/images/furniture/Knoll%20Saarinen%20Executive%20Conference%20Chair/1.png" alt="banner pic" style="width: 100%;height: 240px;object-fit: contain;" />
  </div>
<section>
    <!-- <header><h3>Showing {{products.length ? currentShow : 0}} products</h3></header> -->
    <div style="display: flex;margin: 12px; flex-direction: row;justify-content: space-between;">
  <span style="font-size: larger;font-weight: 800;">Groceries</span>
  <span style="color: rgb(128, 51, 23);">See all</span>
  </div>
    <div class="row1">
  @if (groceries$ | async; as grocery_products) {
    @for (product of grocery_products; track product.id) {
      <app-product-card
      thumbnail={{product.thumbnail}}
      title={{product.title}}
      price={{product.price}}
      category={{product.category}}
      rating={{product.rating}}
      brand={{product.brand}}
      id={{product.id}}
      ></app-product-card>
    } @empty {
      <p style="padding-left: 24px;color: purple;font-weight: 800;">No results yet!</p>
    }
  } @else {
    <p style="padding-left: 24px;color: red;font-weight: 800;">Loading listing..</p>
  }
  </div>

  <!-- Beauty -->
      <div style="display: flex;margin: 12px; flex-direction: row;justify-content: space-between;">
  <span style="font-size: larger;font-weight: 800;">Beauty</span>
  <span style="color: rgb(128, 51, 23);">See all</span>
  </div>
    <div class="row1">
  @if (beauty$ | async; as grocery_products) {
    @for (product of grocery_products; track product.id) {
      <app-product-card
      thumbnail={{product.thumbnail}}
      title={{product.title}}
      price={{product.price}}
      category={{product.category}}
      rating={{product.rating}}
      brand={{product.brand}}
      id={{product.id}}
      ></app-product-card>
    } @empty {
      <p style="padding-left: 24px;color: purple;font-weight: 800;">No results yet!</p>
    }
  } @else {
    <p style="padding-left: 24px;color: red;font-weight: 800;">Loading listing..</p>
  }
  </div>

  <!-- Furniture -->
      <div style="display: flex;margin: 12px; flex-direction: row;justify-content: space-between;">
  <span style="font-size: larger;font-weight: 800;">Furniture</span>
  <span style="color: rgb(128, 51, 23);">See all</span>
  </div>
    <div class="row1">
  @if (furniture$ | async; as grocery_products) {
    @for (product of grocery_products; track product.id) {
      <app-product-card
      thumbnail={{product.thumbnail}}
      title={{product.title}}
      price={{product.price}}
      category={{product.category}}
      rating={{product.rating}}
      brand={{product.brand}}
      id={{product.id}}
      ></app-product-card>
    } @empty {
      <p style="padding-left: 24px;color: purple;font-weight: 800;">No results yet!</p>
    }
  } @else {
    <p style="padding-left: 24px;color: red;font-weight: 800;">Loading listing..</p>
  }
  </div>
</section>
